.menuCont{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    font-size: 1.5rem;
    background-color: #6c715f;
    align-items: center;
    justify-content: center;
}
.show{
    padding: 0;
    margin: 0;
    position: absolute;
    height: 12vh;
    row-gap: 2vh;
    display: flex;
    align-content: flex-end;
  }
    
.hide{
    display: none;
 }